.container {
    padding: 0;
}

table {
    font-size: 1rem !important;

    th,
    td {
        white-space: normal !important;
    }
}

.table,
.list-group,
.progress {
    margin: 0;
}

.table-hover > tbody > tr {
    transition: .4s;

    th, td {
        border-top: 0;
    }

    &.no-hover {
        background-color: inherit !important;
    }
}

a {
    color: #df691a !important;

    &.nav-link,
    &.list-group-item,
    &.btn {
        color: #fff !important;

        transition: .4s;
    }

    &:not(:hover):not(:focus) {
        text-decoration: none !important;
    }
}

.tooltip {
    opacity: .5 !important;
}

.tag {
    float: right;
}

.tab-content {
    background-color: rgba(43, 62, 80, .75);

    > .tab-pane {
        border: 1px solid #4e5d6c;

        transition: .4s;
    }
}

.nav-tabs {
    z-index: 100;

    transition: .8s;

    &.sticky {
        background-color: rgb(43, 62, 80);
    }

    &:not(.sticky) {
        border-bottom: 0;
    }

    .nav-link.active, .nav-link:hover {
        color: rgba(255,255,255,0.4) !important;
        background-color: rgba(43, 62, 80, .75) !important;
    }
}

.sidenav {
    display: none;
    position: fixed;

    > .tab-pane {
        border-left: 0;

        .list-group-item {
            background: none !important;
        }
    }
}

.double {
    display: inline-block;
    position: relative;
    transition: .8s;

    .double-content {
        display: inline-block;
        transition: .8s;
    }

    .double-alt {
        @extend .double-content;

        position: absolute;
        width: 100%;
        height: 100%;

        opacity: 0;
    }
}

.avatar-shadow {
    transition: .8s;

    .avatar {
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        border-radius: 50%;

        transition: .8s;
        animation: spin 1.6s linear infinite;
        animation-play-state: paused;

        &.cool {
            animation-play-state: running;
        }
    }
}

.star {
    position: fixed;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    z-index: -1;

    transition: .8s;
    background: #fff;

    &.cool {
        height: 4px;
        width: 4px;

        margin-top: -1px;
        margin-left: -1px;
    }
}

.double.cool,
.avatar-shadow.cool,
.star {
    filter: drop-shadow(0 0 2px #228dff) drop-shadow(0 0 4px #fff) drop-shadow(0 0 8px #228dff);
}

body.cool,
body.cool * {
    cursor: url('/img/chuancong.gif'), default !important;
}

#background {
    background-image: url('https://source.unsplash.com/featured');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    transition: .8s;
    filter: blur(5px) opacity(25%);

    &.reveal {
        filter: none;
    }
}

.sticky {
    visibility: visible !important;
    opacity: 1 !important;
}

.progress {
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 101;

    background: none;

    visibility: hidden;
    opacity: 0;
    transition: .8s;

    .progress-bar {
        opacity: .5;

        transition: .4s;
    }
}

#backToTop {
    position: fixed;
    margin: 10px;
    right: 0;

    visibility: hidden;
    opacity: 0;
    transition: .8s;

    button {
        transition: .4s;

        &:not(:hover):not(:focus) {
            opacity: .5;
        }
    }
}

.preview {
    cursor: pointer;

    transition: .4s;

    &:hover {
        filter: opacity(75%) drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
    }
}

.bootbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
